<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hrms">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.login.view.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".metaapp.ShowActivity" />
        <activity android:name=".base.BaseMainActivity" />
        <activity
            android:name=".main.view.dialog.AlertDialogDepartmentActivity"
            android:label="增加部门"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />
        <activity
            android:name=".main.view.dialog.AlertDialogEmployeeActivity"
            android:label="添加员工"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>